.cardContent {
  overflow: hidden;
  border-radius: 0.8em;
  /* height: 20em; */
  text-align: start;
  font-size: 1.6rem;
  flex: 0 0 20%;
  margin: 1.5em 0.8em;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.cardInfo {
  width: 100%;
  font-size: 1.1em;
  margin: 1em;
}

.cardPart {
  font-weight: 800;
  font-size: 1em;
  padding: 0.2em 0;
}

.cardTitle {
  color: darkgrey;
  font-size: 1em;
}


.cardImg {
  width: 100%;
  height: 20em;
  object-fit: cover;
}

